.DS_Store
.AppleDouble
.LSOverride
Icon
._*

*.o
*.out
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

agent/agent
agent/build/
agent/bin/

docker/kafka-data/
docker/zookeeper-data/
docker/redis-data/
*.log

.vscode/
.idea/

.env